@CHARSET "UTF-8";
body{
	 margin: 0;
     padding: 0;
     height: 100%;
	 background-image: url("../images/admin_addProduct_background.jpg");
	 background-repeat:no-repeat;
	 background-attachment: fixed;
	 background-size:100% 100%;
}
.contents{
	position: relative;
    min-height: 60%;
}
.contents  h1{
	width:90%;
	margin-left:5%;
	border-bottom:3px double black;
}
.contents-sub{
	min-width: 90%;
	margin-left: 5%;
}
.success{
	width:30%;
	margin:100px 33%;
	 border-radius: 15px;
	text-align:center;
	font-size:20px;
	background: rgba(149,192,236,0.9);
	padding:30px;
}


