@CHARSET "UTF-8";
body{
	background-image: url("../images/admin_addProduct_background.jpg");
	 background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:100% 100%;
	z-index: 2;
}
.contents  h1{
	width:90%;
	margin-left:5%;
	border-bottom:1px solid black;
}
.vertical-list-table {
	margin-left: 5%;
	margin-bottom: 60px;
	width: 500px;
}

.txt {
	width: 99%;
	height: 30px;
	border: 0.5px solid #41719c;
	font-size: 24px;
}

.error {
	display: block;
	text-align: left;
	width: 100%;
}

.error-message {
	background: rgba(255,255,255,0.7);
	text-align: left;
	display: flex;
	align-items: center;
	height: 50px;
	color: red;
	font-size:0.9rem;
}

.success {
	margin-left: 5%;
	margin-bottom: 60px;
	font-size: 24px;
}

#input_form {
	background-color: orange;
	height: 50px;
}

th {
	width: 30%;
}

td {
	width: 70%;
	text-align: center;
}
td .categoryId{
	text-align: left;
}
.button{
	clear: both;
	padding-top: 30px;
	padding-buttom: 30px;
}
.submit-button{
	background-color: skyblue;
	opacity: 0.8;
	width:150px;
	height:50px;
	position:relative;
	left:45%;
	cursor: pointer;
	font-weight: bold;
}
.submit-button:hover{
	opacity: 1;
}