<<<<<<< HEAD
@CHARSET "UTF-8";

h1{
	margin: 60px 0 60px 10%;
	width:90%;
	margin-left:5%;
	border-bottom:1px solid black;
	color:white;
}
.contents-nav{
	margin: 40px 0 0px 0;
	text-align: center;
}
.contents-nav a{
	color: white;
	display: inline-block;
	cursor: pointer;
	padding: 50px 50px;
	font-weight: bold;
	border-radius: 10px;
	font-size: 25px;
	background-color: orange;
	box-shadow:0px 7px #1a7940;
	text-align:center;
	margin-left: 30px;
	text-decoration: none;

}
.contents-nav a:hover{
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.contents-nav a:active{
	box-shadow:none;
 	position:relative;
 	top:7px;
}
=======
@CHARSET "UTF-8";

h1{
	margin: 60px 0 60px 10%;
	width:90%;
	margin-left:5%;
	border-bottom:1px solid black;
}
.contents-nav{
	margin: 40px 0 100px 0;
	text-align: center;
}
.contents-nav a{
	color: white;
	display: inline-block;
	cursor: pointer;
	padding: 50px 50px;
	font-weight: bold;
	border-radius: 10px;
	font-size: 25px;
	background-color: #00fa9a;
	box-shadow:0px 7px #1a7940;
	text-align:center;
	margin-left: 30px;
	text-decoration: none;

}
.contents-nav a:hover{
	background-color: #00ff7f;
}
.contents-nav a:active{
	box-shadow:none;
 	position:relative;
 	top:7px;
}
>>>>>>> branch 'master' of https://github.com/internousdevwork/tabicale.git
