body {
	margin: 0 auto;
}

.bx-wrapper {
  margin: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}

.slider img{
  width: 100%;
  height: auto;
  position: relative;
  top: -650px;
  left: 0;
  margin-bottom: -650px;
  z-index: 1;
}

#home_menu {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}