/* ¤•iˆê——ƒŠƒXƒgİ’è */
.product-list-box{
	display:inline-block;
	float:left;
	width:360px;
	height:540px;
	text-align:center;
}
.product-list-box img{
	width:260px;
	height:350px;
	margin-bottom:25px;
}
#contents ul li{
	display:block;
	float:left;
	width:90%;
	height:100%;
	list-style-type:none;
	text-align:center;
	color:white;
}
#pageNumber{
	text-align:center;
	font-size:16px;
}
.title{
	text-align:center;
	font-size:20px;
	font-family:Meiryo UI;
	margin-bottom:30px;
	color:white;
}
h1{
	color:white;
}
