/* ¤•iˆê——ƒŠƒXƒgİ’è */
.product-list-box{
	display:inline-block;
	float:left;
	width:360px;
	height:540px;
	text-align:center;
}
.product-list-box img{
	width:260px;
	height:350px;
	margin-bottom:25px;
}
#contents ul li{
	display:block;
	float:left;
	width:90%;
	height:100%;
	list-style-type:none;
	text-align:center;
}
#pageNumber{
	clear:left;
	text-align:center;
	height:auto;
	width:1080px;
}
.title{
	text-align:center;
	font-size:20px;
	font-family:Meiryo UI;
	margin-bottom:30px;
}
#product-list{
	height:auto;
}
.product-list-tag{
	padding-top:11px;
	font-family:Meiryo UI;
}
.pageNo{
	padding:5px;
	font-size:25px;
}