/* ¤•iˆê——ƒŠƒXƒgİ’è */
.product-list-box{
	display:inline-block;
	float:left;
	width:360px;
	height:540px;
	text-align:center;
	margin-top:30px;
	margin-bottom:50px;
}
.product-list-box img{
	width:260px;
	height:350px;
}
.product-list-box ul li{
	display:block;
	float:left;
	list-style-type:none;
	margin-top:25px;
	text-align:center;
}
